.App{
  height: 814px;
  width: 375px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;

}

@font-face {
  font-family: 'Pretendard';
  src: url('./font/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  align-items: center;
}